.molocclusion + div {
  margin-top: 20px;
}

.molocclusion p {
  margin-bottom: 20px;
}

.molocclusion table {
  width: 100%;
}

.molocclusion table td,
.molocclusion table th {
  border: 1px solid #c3c3c3;
}

.molocclusion table tbody td {
  text-align: center;
}
